@model string

        <div class="editor-image">
            <span id='uploadLabel'>Click here to upload logo</span>

            <img id="logo" src="@Model" style="visibility: hidden" title="Click here to upload image"></img>

            <input id="FileInput" name ="FileInput" type="file" @*accept="image/jpeg,image/gif,image/x-png" *@onchange="handleFiles(this.files)" />
        </div>