@model string

        <div class="editor-image">
            <span id='uploadLabel'>Click here to upload logo</span>

            <img id="logo" src="@Model" style="visibility: hidden" title="Click here to upload an image"></img>

            <input id="FileInput" name ="FileInput" type="file"onchange="handleFiles(this.files)" />
        </div>