@{
    ViewBag.Title = "About";
}
<article>
    <p>Hockey fans from all around the World are mad about buying hockey cards with their favorite players.</p>
    <p> Usually, you can buy a card from the official league websites (such as nhl.com).  The problem is, what in order to buy a card from different leagues, you should go to a particular league website and order an item. </p>
    <p>There is no one place where you are able to buy a card from the most popular world’s hockey leagues. </p>
    <p>The Fire Puck Store unifies cards from different leagues, so that, hockey fan can choose whatever he want just visiting one place.</p>
</article>
