@model IDictionary<string, List<FirePuckStore.Models.Card>>
@{
    ViewBag.Title = "Store";
}

@{
    Html.RenderAction("Details", "Cart");
}

<div id="categorySection" class="ui-accordion ui-widget ui-helper-reset">
    @{
        foreach (var category in Model)
        {
            <h3><a href="#">@category.Key</a></h3>
            <div>
                @foreach (var card in category.Value)
                {
                    <img src="@card.ImageUrl" alt="@card.Description"/>
                }
            </div>
        }
    }
</div>

@section Scripts
{<script type="text/javascript">
     $(document).ready(function () {
         $("#categorySection").accordion({ active: false });
     });
</script>
}
