header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.editor-image {
    float: left;
    display: block;
    padding: 15px;
    height: 400px;   
    opacity: 0.8;
    border-style: solid;
    background-color: whitesmoke; 
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    padding: 0px;
}

.editor-image:hover {
    opacity: 1;
}


input[type="file"] {
    visibility: hidden;
    position: absolute;
}


#uploadLabel {
    height: 100%; 
    top: 150px; 
    left: 40px; 
    color: black;
    position: relative;
}

input[class~="text-box"], select, .editor-input {
    background-color: gray;
    border-color: gray;
    border-radius: 5px;
    border-style: none;
    height: 25px;
    font-size: larger;
    color: white;
    width: 250px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: gray;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


        html{
            height: 100%;
        }
        body
        {
            background-color: black;
            color: silver;
            font-family: Cagliostro, sans-serif;
            height: 100%;
            width: 100%;
            display: block;
        }
        
        header nav{
            width: 1000px;
            margin-bottom: 50px;
            display: block;
            max-width: 1900px;
        }
        a{
            text-decoration: none; color: silver;
        }
        nav a{
            -webkit-transition: 500ms linear 100ms;
            -moz-transition: 500ms linear 100ms;
            -o-transition: 500ms linear 100ms;
            
        } nav a:hover{
            border: none;
            border-radius: 5px;            
            background-color: rgb(73, 56, 62);
            box-shadow: 5px 5px 5px #888;
            opacity: 1;
            color: white; text-decoration: none; cursor: pointer;
            padding: 5px;
            -webkit-transition: 200ms linear 100ms;
            -moz-transition: 200ms linear 100ms;
            -o-transition: 200ms linear 100ms;
        }
        
        .selectedMenuItem 
        {
            border-radius: 5px;            
            background-color: rgb(73, 56, 62);
            box-shadow: 5px 5px 5px #888;
            opacity: 1;
        }
        
        #homeImg
        {
            margin: 0px;
            display: inline-block;
            color: #fb7a55;
            background: left no-repeat url(images/puck.jpg);
            background-size: contain;
            height: 150px;
            width: 20%;
            position: absolute;
            left: 0px;
            z-index: -1;
        }
        h1{
            color: #fb7a55;
            text-shadow: 5px 5px 10px #0080c0;
            float: left;
            font-style: oblique;
            font-size: large;
            margin-top: 0px;
        }
        header ul{
            margin-top: 0px;
            list-style: none;
            font-size: x-large;
            display: inline-block;
            margin-left: 25%;
            position: relative;
            top: 20px;
            background-color: #000000;
            border-style: outset;
            padding: 2%;
            border-radius: 10px 10px 10px 10px;
        }
        li {
            display: inline;
            padding-left: 30px;
            
        }
        #categorySection{
            float: left;
            margin-top: 5%;
            width: 60%;
            
        }                
        #categoryList > li
        {
            display: block;
            padding: 10px;
            font-size: large;
            background-color: black;
        }
        #categoryList > li  img
        {
            height: 150px;
            display: inline-block;
            opacity: 0.8;
            padding: 0px 0px;            
        }
                        
        #categorySection  img
        {
            height: 150px;
            display: inline-block;
            opacity: 0.8;
            padding: 0px 0px;            
        }
        
       
        #categorySection img:hover
        {
            opacity: 1;
        }
        
        #categoryList > li img:first-of-type
        {
            margin-left: 50px;
        }
        
        #categoryList > li img:hover
        {
            opacity: 1;
        }

        #shoppingCart{
            background-color:#585858;
            display: inline-block;
            width:33%;
            padding:0px 0% 0px 1%;
            top: 20%;
            position: fixed;
            vertical-align: bottom;
            max-height: 70%;
            height: 1000px;
            margin-left: 64%;
            overflow-y: auto;
        }
        
        #cartIco{
            background-color: #585858;
            display: inline-block;
        }
        
        .inActive {
            opacity: 0.5;
        }

        #cartQuantity{
        display: inline-block;
        left: 70px;
        position: relative;
        background-color: #00ae00;
        padding: 3px 5px 3px 5px;
        border-radius: 10px;
        z-index: 1;
        font-size: small;
        color: white;
        }
        
        .cartItem{
            display: inline-block;
            text-align: center;
        }
        
        .cartImg
        {
            height: 100px;
            display: inline-block;
            padding: 0px 0px;
            cursor: pointer;
            opacity: 0.7;
        }
        
        .cartImg:hover {
            opacity: 1;
        }
        
        .active {
            opacity: 1;
        }
        
        .inlineImage {
            display: inline-block;
            padding: 0px 0px;
        }
        
        #cartBlock{
            text-align: center;
        }
        h6{
            display: inline-block;
            margin: 0px;
        }
        
        .table {
            display: inline-table;
            padding-left: 5%;
        }
        
        .row {
            display: table-row;
        }
    
        div.table p {
            display: table-cell;
            padding-left: 10px;

        }

        .cardImg {
            height: 150px;
            padding: 0px 0px;
            float: left;
        }
        
        #viewCard {
            display: inline-block;
            width: 40%;
            border-color: gainsboro;
            border-radius: 10px 10px 10px 10px;
            border-style: solid;
            padding: 15px;
            margin: 5px;
        }
    
    .cardAction 
    {
        float: right;
        margin-top: 25%;
    }
    
    a {
        font-weight: bold;
    }
    
    .inlineDisplay {
        display: inline;
    }
    
    .noItemsInStore {
        opacity: 0.3;
        cursor: not-allowed;
    }

    .noItemsInStore:hover  {
        opacity: 0.3;
    }
    
    .leagueLogo {
        height:  48px; display: inline-block; top: 10px; position: relative;
    }
    
    header {
        margin-bottom: 20px;
        display: block;
    }
    
    footer {
         text-align: center; text-shadow: 5px 5px 5px grey; font-size: x-large;color: ghostwhite;
    }